* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  background: #feed01;
}
svg {
  /* width: 100%; height: 100%; */
  max-width: 100%;
  max-height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.button {
  border: 0 none;
  border-radius: 4px;
  padding: 12px 24px;
  font-weight: bold;
  text-align: center;
  background: #cccccc;
  color: #151515;
}
.button:hover,
.button:focus {
  background: #bfbfbf;
}
.button.red {
  background: #ff0741;
  color: white;
}
.button.red:hover,
.button.red:focus {
  background: #ec0037;
}
.button.white {
  background: white;
  color: #000f60;
  border: 1px solid #000f60;
}
.button.white:hover,
.button.white:focus {
  background: #cccccc;
}
.button.orange {
  background: #ff7701;
  color: white;
}
.button.orange:hover,
.button.orange:focus {
  background: #e76b00;
}
.button.blue {
  background: #217398;
  color: white;
}
.button.blue:hover,
.button.blue:focus {
  background: #1c6383;
}
.button.block {
  width: 100%;
  display: block;
}
.red-text {
  color: #ff0741;
}
.orange-text {
  color: #ff7701;
}
.blue-text {
  color: #217398;
}
input,
select,
textarea,
button {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  box-shadow: none;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
.hero-banner,
.lobby-banner,
.stall-banner {  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;background: url('~@/assets/hero-bg.jpg') no-repeat center; 
    background-size: cover;
} 
.error {
color: red;margin-left:8px;
}
.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.wrapper.top {
  top: 0;
  bottom: initial;
}
.wrapper.top .menu {
  top: 100%;
  bottom: initial;
}

.lobby-banner {
  background-image: url(~@/assets/2x-lobby.png);
  }
  .stall-banner {
background-image: url(~@/assets/2x-inside.png);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #ffffff, #feed01);
  position: relative;
  z-index: 8;
}
.navbar .logo {
  padding: 5px 10px;
  margin-right: auto;
}
.navbar .user {
  padding: 10px 10px 10px 5px;
  font-size: 16px;
}
.navbar .user .name {
  display: block;
  font-size: 1.2em;
}
.navbar .menu-toggle {
  width: 48px;
  height: 48px;
  padding: 10px;
}
.navbar .menu {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 11;
  bottom: 100%;
  background: #feed01;
  font-size: 16px;
  display: none;
}
.navbar .menu ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
}
.navbar .menu a {
  display: block;
  text-transform: uppercase;
  padding: 1em;
}
.intro-wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.intro-wrapper h1 {
  margin: 5px 0;
}
.intro-wrapper h3 {
  font-weight: normal;
}
.intro-wrapper h4 {
  text-transform: uppercase;
}
.intro-wrapper .info {
  font-size: 18px;
  background: #fff;
  padding: 25px;
  position: relative;
}
.intro-wrapper .info:before,
.intro-wrapper .info:after {
  content: '';
  position: absolute;
  background: inherit;
  left: 0;
  right: 0;
  height: 20px;
}
.intro-wrapper .info:before {
  top: 0;
  transform: skewY(-2.5deg);
  transform-origin: 0 100%;
}
.intro-wrapper .info:after {
  bottom: 0;
  transform: skewY(2.5deg);
  transform-origin: 0 100%;
}
.intro-wrapper .pointer,
.intro-wrapper .ripple {
  width: 65%;
  text-align: center;
  align-self: flex-end;
}
.intro-wrapper .pointer {
  height: 100px;
  margin-top: 5em;
}
.intro-wrapper .ripple {
  height: 64px;
}
.led-panel {
  padding: 0 10px;
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 5;
}
.led-panel .platinum-group {
  max-width: 38%;
}
.led-panel .gold-group {
  width: 62%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.led-panel .platinum {
  padding: 20px 0 0;
  position: relative;
}
.led-panel .platinum:before {
  content: '';
  position: absolute;
  top: 0;
  left: 48%;
  width: 5px;
  height: 20px;
  background: black;
}
.led-panel .platinum figure,
.led-panel .gold figure,
.silver-panels .item figure {
  background-color: white;
  border: 3px solid black;
  border-radius: 4px;
  margin: 0;
  padding: 2px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.led-panel .platinum img,
.led-panel .gold img,
.silver-panels img {
  max-height: 100%;
  /* animation: bounceIn;
            animation-duration: 1s; */
}
.led-panel .gold {
  margin-left: 10px;
  padding: 18px 0 0;
  position: relative;
}
.led-panel .gold:before {
  content: '';
  position: absolute;
  top: 0;
  left: 48%;
  width: 5px;
  height: 18px;
  background: black;
}
.led-panel .gold figure,
.silver-panels .item figure {
  height: 58px;
  border: 2px solid black;
  border-radius: 3px;
}
.led-panel img {
  display: block;
}
.silver-panels {
  position: relative;
  z-index: 5;
  display: flex;
  overflow-x: auto;
  margin: 10px;
  padding-bottom: 5px;
}
.silver-panels .item {
  min-width: 100px;
  min-height: 65px;
  width: 100px;
  margin-right: 10px;
}
.info-desk {
  position: relative;
  z-index: 5;
  /* background: url(images/helpdesk.png) no-repeat right bottom;
    background-size: auto 280px; */
  text-align: center;
  margin-top: 20px;
}
.info-desk .ripple {
  height: 100px;
}
.info-desk .button {
  position: absolute;
  top: 8%;
  left: 33%;
  opacity: 0.9;
}
.info-desk .helpdesk {
  max-height: 280px;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;

  background: #feed01;
  overflow-y: auto;
}
.modal .modal-inner {

  background-size: contain;
  padding: 300px 20px 20px;
  background: url('~@/assets/modal-header.jpg') no-repeat center top;
}
.modal .modal-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 1em;
}
.modal .modal-title h4 {
  font-size: 1.5em;
}
.modal .modal-title p {
  margin: 0;
  font-size: 0.9em;
}
.modal .close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: white;
  border: 0 none;
}
.modal.bottom {
  background: white;
  top: initial;
  animation: slideInUp;
  animation-duration: 1s;
  border-top: 5px solid #feed01;
}
.modal.bottom .modal-title {
  text-align: left;
}
.modal.bottom .modal-inner {
  background: none;
  padding: 20px;
}
.builders {
  font-size: 16px;
}

.builders ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 15px;
}
.builders li {
  display: flex;
  padding-bottom: 10px;
  align-items: center;
}
.builders li .button {
  margin-left: auto;
}
.stalls {
  position: relative;
  margin: 50px 10px;
  z-index: 2;
  display: flex;
  overflow-x: auto;
}
.stalls .stall {
  min-width: 300px;
  margin: 0 15px;
}
.detail {
  position: relative;
  z-index: 2;
}
.detail .stall {
  margin: 20px auto;
  padding: 0 10px;
}
.detail .offer {
  background: #fece00;
  border-radius: 8px;
  margin: 15px;
  text-align: center;
  font-size: 18px;
  padding: 15px;
}
.detail .offer h2 {
  font-size: 1.75em;
}
.detail .view-detail {
  padding: 15px;
  font-size: 18px;
  background: white;
}
.detail .view-detail .button {
  background: #151515;
  color: white;
  border-radius: 8px;
}
.back {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  color: white;
  font-size: 18px;
  padding: 10px;
}
.back .icon {
  height: 44px;
  width: 44px;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  fill: white;
  margin-right: 20px;
}
.form .input-wrap,
.form .button-wrap {
  margin-bottom: 1.25em;
}
.form .button,
.form .input {
  border-radius: 50px;
  min-height: 45px;
  font-size: 18px;
}
.form .input {
  background: white;
  border: 1px solid #000f60;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.form a:not(.button) {
  text-decoration: underline;
}
.form .flex {
  display: flex;
}
.form .flex .input {
  margin-left: 10px;
}
.form .flex .input:first-child {
  margin-left: 0;
}
@media screen and (orientation: landscape) {
  .modal {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .led-panel,
  .silver-panels {
    max-width: 480px;
    margin: auto;
  }
}
@media screen and (min-width: 400px) {
  .led-panel {
    padding: 0 15px;
  }
}
